<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tpb.projects"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feed.ReposActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/title_activity_login">

        </activity>

        <activity android:name=".repo.RepoActivity">
        </activity>

        <activity android:name=".util.IntentHandlerActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />


                <data
                    android:scheme="https"
                    android:host="github.com"
                    android:pathPattern="/.*"
                    />
                <data
                    android:scheme="http"
                    android:host="github.com"
                    android:pathPattern="/.*"
                    />

            </intent-filter>

        </activity>
    </application>

</manifest>